.card {
  aspect-ratio: 16 / 9;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

a {
  text-decoration: none;
}

.avatar {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.avatar.angular {
  background-image: url('../../assets/icons/angular.png');
}

.avatar.html5 {
  background-image: url('../../assets/icons/html5.png');
}

.avatar.css3 {
  background-image: url('../../assets/icons/css3.png');
}

.avatar.rxjs {
  background-image: url('../../assets/icons/rx_logo.png');
}

mat-card-content {
  margin-top: 16px;
}
