<h1>Flexbox Basics</h1>

<div class="flex-basics">
  <div class="card">
    <h3>Card one</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card">
    <h3>Card two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card">
    <h3>Card three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur. adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
</div>

<br><br>

<h1>Flexbox Alignments</h1>

<div class="flex-alignments">
  <div class="card">
    <h3>Card one</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card">
    <h3>Card two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card">
    <h3>Card three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Asta adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
</div>

<br><br>

<h1>Flexbox Wrap</h1>

<div class="flex-wrap">
  <div class="card">
    <h3>Card one</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card">
    <h3>Card two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card">
    <h3>Card three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Asta adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
</div>