<mat-toolbar class="navbar">
  <div>Observable Operators</div>
  <div>
    <button mat-button routerLinkActive="mat-primary" [routerLink]="'operators-overview'">Overview</button>
    <button mat-button routerLinkActive="mat-primary" [routerLink]="'routing'">Routing</button>
    <button mat-button routerLinkActive="mat-primary" [routerLink]="'user-input'">User Input</button>
    <button mat-button routerLinkActive="mat-primary" [routerLink]="'rbac'">RBAC</button>
    <button mat-button routerLinkActive="mat-primary" [routerLink]="'save-indicator'">Save Indicator</button>
  </div>
</mat-toolbar>
<div class="container pt-20">
  <router-outlet></router-outlet>
</div>
