<h1>Grid Basics</h1>

<div class="grid-basics">
  <div class="card one">
    <h3>Card one</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card two">
    <h3>Card two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card three">
    <h3>Card three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card four">
    <h3>Card four</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card five">
    <h3>Card five</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
</div>

<br><br>

<h1>Grid Area</h1>

<div class="grid-area">
  <div class="card one">
    <h3>Card one</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card two">
    <h3>Card two</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card three">
    <h3>Card three</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card four">
    <h3>Card four</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
  <div class="card five">
    <h3>Card five</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
  </div>
</div>